.footer-component {
  width: 100%;
  /* height: 50px; */
  background-color: white;
}

.footer-wrapper {
  font-size: 0.75em;
  display: flex;
  justify-content: center;
  box-shadow: 0 4px 5px 1px gray;
}

.contacts,
.explore {
  margin: 15px 15px 15px 15px;
  box-sizing: border-box;
  line-height: 1.5;
}

.title-footer {
  padding-bottom: 2px;
  border-bottom: 1px solid #65676b;
}

.text-footer {
  color: #65676b;
  font-size: 0.85em;
  padding-top: 2px;
}
