.home-component {
  margin-top: 20px;
  margin-bottom: 20px;
}

.home-wrapper {
  width: 70%;
  margin: 0 auto;
  margin-top: 15px;
  border-radius: 5px;
  font-size: 0.75em;
  background-color: white;
  line-height: 1.5;
}

.post-wrapper {
  width: 100%;
  display: block;
  box-sizing: border-box;
  padding: 20px 15px 20px 15px;
  border-bottom: 1px solid #dcdcdc;
}

section:nth-child(25) {
  border-bottom: 0px;
}

.post-body {
  display: flex;
  flex-direction: column;
}

#user-avatar {
  float: left;
  margin-right: 5px;
  font-size: 3em;
}

#userName {
  font-weight: 500;
}

.userPost {
  font-size: 0.9em;
}

.pagination {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 30px;
  gap: 20px;
}

.list {
  display: flex;
  padding: 10px;
  color: black;
}

.pagination > a:focus {
  background-color: #dcdcdc;
}
