.home-component {
  margin-top: 20px;
  margin-bottom: 20px;
}

.home-wrapper {
  width: 70%;
  margin: 0 auto;
  margin-top: 15px;
  border-radius: 5px;
  font-size: 0.75em;
  background-color: white;
}

.post-wrapper {
  width: 100%;
  display: block;
  box-sizing: border-box;
  padding: 20px 15px 20px 15px;
  border-bottom: 1px solid#dcdcdc;
}

.post-body {
  display: flex;
  flex-direction: column;
}

#user-avatar {
  float: left;
  margin-right: 5px;
  font-size: 3em;
}

#userName {
  font-weight: 600;
}

#userPost {
  font-size: 0.9em;
}
