* {
  margin: 0px;
  padding: 0px;
}

html,
body,
.App {
  height: 100vh;
  font-size: 16px;
  font-family: system-ui, -apple-system, sans-serif;
  overflow: auto;
}
body {
  background-color: #dcdcdc;
}

.mainPage-component,
.home-component {
  min-height: 90vh;
  width: 100%;
}
